<footer>
	<div class="footer-info">
		<img src="assets/logos/playstation.png" alt="">

		<div class="footer-country">
			<img src="assets/logos/icon-world.png" alt="" height="35px">
			<p>País/Região: Brasil</p>
		</div>
	</div>
	<div class="footer-texts">
		<a href="https://store.playstation.com/pt-br/pages/deals">Site Oficial Playstation</a>
		<p>Desenvolvido por Juliana</p>
	</div>
	<div class="links">
			<a href="https://www.linkedin.com/in/juliana-silva-nascimento1">Linkedin</a>
			<a href="https://github.com/juliana-sn">GitHub</a>
	</div>
</footer>
