<div class="menu-container">
	<div class="menu-sony">
		<img src="assets/logos/logo-sony.png" alt="logo sony" width="100px">
	</div>

	<div class="menu-ps">
		<div class="menu-logo">
			<img src="assets/logos/ps-logo.png" alt="logo PlayStation">
		</div>

		<div class="menu-itens">
			<ul>
				<li><a href="">Novidades</a></li>
				<li><a href="">Coleções</a></li>
				<li id="select"><a href="">Ofertas</a></li>
				<li><a href="">PS5</a></li>
				<li><a href="">Assinaturas</a></li>
				<li><a href="">Navegar</a></li>
			</ul>
		</div>
	</div>
</div>
